<p id="notice"><%= notice %></p>

<p>
  <strong>Given name:</strong>
  <%= @user.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @user.family_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
